@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-family: Roboto;
}
header {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    padding: 13px;
    justify-content: space-around;
}
header h2{
    font-weight: normal;
}
header form{
    display: flex;
    flex-direction: row;
}
header form input{
    border-radius: 8px;
    padding: 13px;
}
header form input + input{
    margin-left: 13px;
}
header form button {
    background-color: #1ac7ff;
    margin-left: 13px;
    border: none;
    border-radius: 8%;
    color: #fff;
    padding: 13px 23px;
    font-size: 16px;
    cursor: pointer;
}