@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .current-user{
    display: flex;
    flex-direction: row;
    align-items: center;
}
header .current-user img {
    border-radius: 100%;
    width: 25%;
    max-width: 200px;
    padding: 8px;
    margin-right: 13px;
}
header .current-user div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
header .current-user div div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
header .current-user div div a{
    padding-left: 6px;
}
header .current-user h2{
    font-weight: 500;
    font-family: Roboto;
}
section.mid-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}
section.mid-container .create-post{
    display: flex;
    flex-direction: column;
    width: 40%;
}

section.mid-container .create-post label{
    font-family: Roboto;
}
section.mid-container .create-post textarea{
    resize: none;
    padding: 18px 0;
    margin: 13px 0;
}
section.mid-container .create-post button {
    background-color: #7154c1;
    color: #fff;
    border: none;
    padding: 13px;
    border-radius: 6px;
    font-family: Roboto;
    cursor: pointer;
}
.all-posts{
    margin-top: 23px;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.all-posts hr{
    width: 40%;
}
.all-posts h1{
    font-family: Roboto;
    font-weight: 500;
}
.all-posts .post{
    margin: 16px auto;
    width: 30%;
    display: flex;
    flex-direction: column;
}
.all-posts .post b{
    color: green;
}
.all-posts .post nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.all-posts .post nav img{
    border-radius: 50%;
    width: 20%;
}
.all-posts .post nav h3{
    margin-left: 13px;
    font-family: Roboto;
    font-weight: 500;
}
.all-posts .post p{
    font-family: Roboto;
    font-weight: 500;
    width: 100%;
    font-size: 1.2rem;
    max-width: 100%;
    word-wrap: break-word;
}